html 
{
	background-color: #00293C;
}

body 
{
	background-color: #00293C;
	font-family: 'Montserrat', sans-serif;	
}

header 
{	
	font-size: 30px;
	color: #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	background-color: #00293C;
}

header img 
{
	max-height: 75px;
	max-width: 75px;
}

a 
{
	color: #FFF;
	text-decoration: none;
}

a:hover 
{
	color: #F62A00;
	text-decoration: none;
}

div.social 
{
	position: absolute;
	right: 0;
	margin: 10px;
}

div.social img 
{
	width: auto;
	height: 30px;
}
@media screen and (max-width: 991.5px){
	div.social-2 {
		display: none!important;
	}
}
div.social-2 
{
	position: fixed;
	right: 0;
	margin: 10px;
	display: none;
}

div.social-2 img 
{
	width: auto;
	height: 30px;
}

@media screen and (max-width: 991.5px){
	div.social-3 {
		display: none!important;
	}
	
}

@media screen and (max-width: 767.5px){
	
	#girls {
		display: none!important;
	}
	
}

div.social-3 
{
	position: fixed;
	right: 0;
	margin: 10px;
	display: none;
}

div.social-3 img 
{
	width: auto;
	height: 30px;
}

nav 
{
	font-size: 16px;
	background-color: #1E656D;
	color: #FFF;
	min-height: 62px;
}
.dropdown-item:focus, .dropdown-item:hover
{
	color: #F62A00;	
}
.dropdown-item.active, .dropdown-item:active
{
	background-color: #1E656D;
}

@media screen and (min-width: 1240px){
.navbar-nav 
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.navbar-nav li 
{
	display: inline-block;
	float: none;
}
}

.navbar-brand 
{
	display: none;
}

div.empty 
{
	width: 220px;
}

main
{
	text-align: center;
	margin-top: 15px;
}

h1
{
	color: #FFF;
}

.news
{	
	display: none;
	margin-bottom: 15px;
	background-color: #FFF;
	
}

.news a 
{
	color: #000!important;
}

.news a:hover
{
	color: #F62A00!important;
}

.news-thumbnail 
{	
	position: relative;
	padding: 0;
	width: 100%;
}

.news-thumbnail img
{	
	height: auto;
	width: 100%;
}

.news-title 
{	
	padding: 15px;
}

#news1 .overlay
{
	padding: 15px;
	color: #FFF;
	position: absolute;
	display: block;
	width: 100%;
	background-color: #000;
	left: 0;
	bottom: 0;
	opacity: 0;
	min-height: 50px;
	transition: opacity 0.5s ease-in-out;
}

#news1:hover .overlay
{
	opacity: 0.8;
}

#loadMore 
{
    text-align: center;
    color: #fff;

}

#loadMore:hover 
{
	color: #F62A00;
}

article
{
	display: inline-block;
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	color: #000;
	text-align: justify;
}

article a
{
	color: #000;
}

#img-pressroom
{
	max-height: 350px;
}


.kontakt
{
	display: inline-block;
	color: #000;
	background-color: #FFF;
	text-align: justify;
	padding: 15px;
	margin: 15px;
}

.kontakt a
{
	color: #000;
}

.kontakt a:hover
{
	color: #F62A00;
}

.map-responsive{
	margin-top: 15px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
 
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.cookies 
{
	color: #000;
	background-color: #FFF;
	text-align: justify;
	margin: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
}

footer 
{
	margin-top: 20px;
	background-color: #1E656D;
	color: #FFF;
	text-align: center;
	padding: 10px;
	width: 100%;
}
